:root {
    --primary: #09283c;
    --secondary: #6c837c;
    --background: #cfdebd;
    --gris: #98989a;
    --gris-bg: #6f7271;
    --red: #ff0000;
    --bs-btn-hover-bg: var(--background);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-active-bg: var(--background);
    --bs-btn-active-color: var(--primary);
}

*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 400;
}
a:hover {
    text-decoration: underline;
    color: var(--background);
    font-weight: bold;
    cursor: pointer;
}
a, p, label {
    font-size: 12pt;
}
h1 {
    font-size: 20pt;
}
h2 {
    font-size: 17pt;
}
h3 {
    font-size: 14pt;
}
div {
    font-size: 12pt;
}
button {
    font-size: 14pt!important;
}
input {
    font-size: 14pt!important;
}

#pagina_principal {
    height: 100%;
}
#loader {
    height: 100%;
}
/* Solo se aplica a los labels que tienen la clase 'asterisco' */
label.asterisco:after {
    content: " *"; /* Agrega un asterisco */
    color: var(--red);  
    /* font-size: 1.3em; */
    margin-left: 5px;
}

/**
 * ============================================
 * From Uiverse.io by bernethe
 * ============================================
*/
.loader-circle {
    border-radius: 50%;
    border-top: 16px var(--primary) solid;
    border-left: 16px var(--secondary) solid;
    border-bottom: 16px var(--secondary) solid;
    border-right: 16px var(--secondary) solid;
    animation: spSlices 1s infinite linear;
}

@keyframes spSlices {
    0% {
        border-top: 16px var(--primary) solid;
        border-right: 16px var(--secondary) solid;
        border-bottom: 16px var(--secondary) solid;
        border-left: 16px var(--secondary) solid;
    }

    25% {
        border-top: 16px var(--secondary) solid;
        border-right: 16px var(--primary) solid;
        border-bottom: 16px var(--secondary) solid;
        border-left: 16px var(--secondary) solid;
    }

    50% {
        border-top: 16px var(--secondary) solid;
        border-right: 16px var(--secondary) solid;
        border-bottom: 16px var(--primary) solid;
        border-left: 16px var(--secondary) solid;
    }

    75% {
        border-top: 16px var(--secondary) solid;
        border-right: 16px var(--secondary) solid;
        border-bottom: 16px var(--secondary) solid;
        border-left: 16px var(--primary) solid;
    }

    100% {
        border-top: 16px var(--primary) solid;
        border-right: 16px var(--secondary) solid;
        border-bottom: 16px var(--secondary) solid;
        border-left: 16px var(--secondary) solid;
    }
}


/**
 * ============================================
 * Página Login y registro
 * ============================================
*/
.main-wrapper {
    height: 100vh;
}
.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100%;
}
.auth-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70vw;
    height: auto;
    margin: 2rem 0 2rem 0;
}
.modal-bg-img {
    background-size: contain;
}
.modal-bg-img img {
    width: 100%;
    height: auto;
}
.form-container {
    padding: 1rem;
    background-color: var(--gris);
    box-shadow: 0 0 2rem var(--secondary);
    width: 100%;
}
.primary-button {
    background-color: var(--primary);
    color: var(--background);
}
@media (min-width: 1024px) {
    .auth-box {
        flex-direction: row;
        height: 50vh;
    }
    .auth-box_registro {
        flex-direction: row-reverse;
    }
    .modal-bg-img {
        width: 50%;
    }
    .form-container {
        width: 50%;
    }
}
@media (min-width: 1440px) {
    .modal-bg-img {
        height: 100%;
        width: auto;
    }
    .modal-bg-img img {
        height: 100%;
        width: auto;
    }
    .form-container {
        width: 40%;
    }
}